@using SistemaReclutamiento.Models
<!DOCTYPE html>
<html lang="en" ng-app="reclutamientoModule">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de Reclutamiento</title>

    <!-- Bootstrap core CSS -->
    @*<link href="template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/fontawesome.js"></script>
    <script src="~/Scripts/solid.js"></script>
    <script src="~/Scripts/brands.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.1/dist/sweetalert2.all.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/brands.css" rel="stylesheet" />
    <link href="~/Content/solid.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="~/Content/landing-page.css" rel="stylesheet" />


</head>

<body style="padding:0px">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><b>Sistema de Reclutamiento</b></a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                @*<li class="nav-item active mr-3">
            @Html.ActionLink("Home", "Index", "Home")
        </li>*@

                @if ((int)Session[Sesiones.Perfil] == 1)
                {
                    <li class="nav-item mr-3 ">
                        @Html.ActionLink("Crear Usuario", "CrearUsuario", "Manager")
                    </li>
                }
                else if ((int)Session[Sesiones.Perfil] == 2)
                {

                    <li class="nav-item mr-3">
                         @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li class="nav-item mr-3 ">
                         @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                }


            </ul>

                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-primary" href="#" type="button">@Html.ActionLink("Log Out", "Index", "Home", null, new { @style = "color:white; text-decoration:none" })  <i class="icon-logout"></i></button>
                </form>


        </div>
    </nav>


    @*<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Sistema De Reclutamiento</a>
                <a>@Html.ActionLink("Home", "Index", "Home")</a>
                <a>@Html.ActionLink("About", "About", "Home")</a>
                <a>@Html.ActionLink("Contact", "Contact", "Home")</a>
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#exampleModal3">Sign In <i class="icon-login"></i></a>

            </div>
        </nav>*@


    @RenderBody()

    <!-- Bootstrap core JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

</body>

<!-- Footer -->


</html>

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Sistema de Reclutamiento 2020. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Modal -->
@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
