@{
    Layout = null;
}

@using SistemaReclutamiento.Models
<!DOCTYPE html>
<html lang="en" ng-app="reclutamientoModule">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de Reclutamiento</title>

    <!-- Bootstrap core CSS -->
    @*<link href="template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/fontawesome.js"></script>
    <script src="~/Scripts/solid.js"></script>
    <script src="~/Scripts/brands.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.1/dist/sweetalert2.all.min.js"></script>

    <!-- Custom fonts for this template -->
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/brands.css" rel="stylesheet" />
    <link href="~/Content/solid.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="~/Content/landing-page.css" rel="stylesheet" />


</head>

<body style="padding:0px">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><b>Sistema de Reclutamiento</b></a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>

                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-primary" href="#" data-toggle="modal" data-target="#exampleModal3" type="button">Sign In <i class="icon-login"></i></button>
                </form>

        </div>
    </nav>

<div ng-controller="LoginController">


    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Bienvenidos/as a nuestro Sistema de Reclutamiento <i class="fas fa-user-circle"></i> </h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-12 col-md-4">
                                <button type="button" class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#exampleModal3">Sign In <i class="icon-login"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-user-follow m-auto text-primary"></i>
                        </div>
                        <h3>Registro</h3>
                        <p class="lead mb-0">Registro de candidatos!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-notebook m-auto text-primary"></i>
                        </div>
                        <h3>Gestión</h3>
                        <p class="lead mb-0">Gestión del proceso de reclutamiento del personal!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-user-following m-auto text-primary"></i>
                        </div>
                        <h3>Contratación</h3>
                        <p class="lead mb-0">Contratación de personal!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">

                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../img/bg-showcasestats.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Estrategias &amp; Estadisticas</h2>
                    <p class="lead mb-0">A la hora de tomar decisiones tenemos que tener en cuanta ciertos parametros, por eso es que est sistema ofrece un apartado de reportes que brindaran al usuario información necesaria para tomar las mejores deciones.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../img/bg-teamwork.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Trabajo en Equipo</h2>
                    <p class="lead mb-0">El trabajo en equipo lo es todo, es por esto que este sistema está desarrallado a base de un buen trabajo en equipo integrado por personas apasionadas ellos son: <b>Darwin, Luis Enrique y Alan Gómez</b></p>

                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../img/bg-showcase-2.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Diseño de Calidad, Intuitivo &amp; Seguro</h2>
                    <p class="lead mb-0">Diseño intuitivo y fácil de usar, con técnologia ASP.NET, C#, JavaScript para contar con eficiencia y seguridad a la hora de trabajar con los datos de los candidatos</p>
                </div>
            </div>
        </div>
    </section>


    <div class="modal fade bd-example-modal-lg" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModal3Label">Login <i class="icon-login"></i></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="d-flex align-items-center flex-column">
                            <div class="w-50 p-3">
                                <div class="col-md-12">
                                    <b>Usuario  <i class="icon-user"></i></b> <input type="text" ng-model="usuario" class="form-control" name="name" value="" />
                                </div>
                            </div>
                            <div class="w-50 p-3">
                                <div class="col-md-12">
                                    <b>Password  <i class="icon-lock"></i></b> <input type="password" ng-enter="Login()" ng-model="password" class="form-control" name="name" value="" />
                                </div>
                                <div ng-show="error" class="alert alert-danger mt-2" role="alert">
                                    <strong>Usuario o password incorrecto!</strong> Verifique sus datos.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="Login()">Log In</button>
                </div>
            </div>
        </div>
    </div>

</div>

    <!-- Bootstrap core JavaScript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular")
    @*@RenderSection("scripts", required: false)*@
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

</body>

<!-- Footer -->


</html>

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Sistema de Reclutamiento 2020. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Modal -->
@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@



<!-- Call to Action -->
@*<section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>*@

